[submodule "libdivecomputer"]
	path = libdivecomputer
	url = git://subsurface-divelog.org/libdc
	branch = Subsurface-testing
[submodule "subsurface"]
	path = subsurface
	url = git://subsurface.hohndel.org/subsurface.git
	pushurl = git@github.com:glance-/subsurface.git
