[submodule "libdivecomputer"]
	path = libdivecomputer
	url = git://github.com/glance-/libdivecomputer.git
	pushurl = git@github.com:glance-/libdivecomputer.git
[submodule "subsurface"]
	path = subsurface
	url = git://github.com/glance-/subsurface.git
	pushurl = git@github.com:glance-/subsurface.git
